<div class="cont-logo-title">
    <!-- Contenedor del logo -->
    <div class="logo">
        <img src="static/image/logo.jpg">
    </div>
    <div class="title">
        <span>MiMimiMundo</span>
    </div>
</div>

<nav class="navbar">
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        {% if not user %}     
            <li>
                <a href="login.php">Login</a>
            </li>
            <li>
                <a href="register.php">Register</a>
            </li> 
        {% else %}
            <li>
                <a href="logout.php">Logout</a>
            </li> 
            <li>
                <a href="perfil.php">Perfil</a>
            </li>  
        {% endif %}
        
    </ul>
</nav>
