<div class="cont-logo-title">
    <!-- Contenedor del logo -->
    <div class="logo">
        <img src="static/image/logo.jpg">
    </div>
    <div class="title">
        <span>MiMimiMundo</span>
    </div>
</div>

<nav class="navbar">
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        {% if not user %}     
            <li>
                <a href="login.php">Login</a>
            </li>
            <li>
                <a href="register.php">Register</a>
            </li> 
           
        {% else %}
            {% if user.rol == "GEST" or user.rol == "SU"%}
                <li>
                    <a href="addProducto.php">Añadir Producto</a>
                </li> 
            {% endif %}
            {% if user.rol == "MOD" or user.rol == "SU"%}
                <li>
                    <a href="allComments.php">Ver comentarios</a>
                </li> 
            {% endif %}
            {% if user.rol == "SU"%}
                <li>
                    <a href="allUsers.php">Usuarios</a>
                </li> 
            {% endif %}
            <li>
                <a href="perfil.php">Perfil</a>
            </li>  
            <li>
                <a href="logout.php">Logout</a>
            </li> 
        {% endif %}
        
    </ul>
</nav>
