.table-container{
    width: 90%;
    padding: 20px;
    padding-top: 0;
    margin: auto;
}

.table-container ul{
    width: 100%;
    display: block;    
}

.element {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--lighter-pink);
    margin-bottom: 5px;

    display: block;   
}

.element .info{
    width: 25%;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: white;
    color: var(--dark-pink);
    margin: 5px;
    
}