.product-text{
    width: 70%;
    padding-left: 50px;
}

h1.title-product{
    margin: 25px;
    margin-left: 0;
}

h2.subtitle-product{
    width: 50%;
    margin-top: 0;
}

.price-comment-cont{
    display: flex;
    margin-bottom: 5px;
    width: 100%;
}

.price{
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    font-size: medium;
    text-align: left;
}
/* Comentarios */
    button#comment-btn{
        margin-left: auto;
        background-color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    button#comment-btn:hover, button#comment-btn:focus{
        background-color: var(--lighter-pink);
    }

    .fa-comment{
        font-size: 20px;
    }

    .comment-container{
        display: flex;
        width: 100%;
        justify-content: right;
        flex-wrap: wrap;
    }

    .panel-comment{
        display: none;
    }

    .panel-comment-show{
        display: block;
        width: 100%;
        position: relative;
        float: right;
        background-color: var(--lighter-pink);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .panel-comment .date, .panel-comment .author{
        display: inline-block;
        margin-bottom: 5px;
    }

    .panel-comment .texto{
        border-radius: 5px;
        display: block;
        background-color: white;
        padding: 5px;
        color: var(--dark-pink);
        /* border-radius: 1px; */
    }

    .comment{
        width: 100%;
        padding-bottom: 10px;
    }

    form#comment-form{
        width: 100%;
    }

    form#comment-form input{
        border: none;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        font-size: 15px;
        margin-bottom: 5px;
        width: 100%;
        color: var(--dark-pink);
    }

    form#comment-form input:focus{
        outline-color: var(--main-pink);
        background-color: white;
    }

    form#comment-form input#submit-btn{
        cursor: pointer;
        color: var(--main-pink);
    }

    form#comment-form input.error{
        border: 1px solid rgb(219, 26, 26);
    }

/* FIN Comentarios */


p.descripcion-producto{
    margin-top: 0;
    font-weight: normal;
    text-align: justify;
    font-size: 18px;
    color: var(--dark-pink);
}

.product-images{
    padding: 20px;
    width: 30%;
    height: fit-content;
    float: right;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-images .container-img{
    float: right;
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.product-images .container-img:hover{
    border-color: var(--light-pink);
    box-shadow: 0 8px 8px 0 var(--shadow);
}

figure {
    margin: 0;
    display: inline-block;
    padding: 5px;
}

figcaption {
    text-align: center;
    margin-bottom: 10px;
}

/* Responsive */
/* Para pantallas muy grandes, las imagenes se ponen debajo del texto para que no quede mucho hueco en blanco */
@media only screen and (max-width: 2560px){

    .product-text{
        padding-right: 20px;
        width: 100%;
    }

    .product-images{
        width: 100%;
    }

    figure{
        padding-right: 100px;
        width: 30%;
    }

}

@media only screen and (max-width: 1600px){
    .product-text{
        width: 70%;
    }
   
    .product-images{
        width: 30%;
    }

    figure{
        padding: 0;
        width: 100%;
    }

    footer{
        position: relative;
    }
}

@media only screen and (max-width: 950px) {
    .product-text{
        padding-right: 20px;
        width: 100%;
    }

    .product-images{
        width: 100%;
        margin-left: 50px;
    }

    figure{
        padding-right: 15px;
        width: 45%;
    }

    .product-images .container-img{
        margin-bottom: 0px;
    }

    figcaption{
        width: 0px;
        display: none;
    }
}


@media only screen and (max-width: 700px) {
    .product-images .container-img{
        margin-bottom: 15px;
    }
    .product-images{
       padding: 0;
    }

}