form{
    width: 100%;
}

input{
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    color: var(--dark-pink);
}

textarea{
    border: none;
    border-radius: 5px;
    width: 100%;
    resize: vertical;
    color: grey;
}

textarea:focus{
    outline-color: var(--main-pink);
}

input:focus{
    outline-color: var(--main-pink);
}

input[type=button], input[type=submit]{
    cursor: pointer;
    color: var(--main-pink);
    box-shadow: 0 5px 5px 0 var(--shadow);
}

input[type=file]{
    background-color: transparent;
    padding: 0;
}

input[type=file]::-webkit-file-upload-button {
    border: 1.5px  solid transparent;
    padding: 3.5px;;
    font-family: brandon-grot-w01-light, Oswald, sans-serif;
    color: grey;
    font-weight: lighter;
    border-radius: 5px;
    background-color: white;
}

input[type=file]::-webkit-file-upload-button:hover{
    border: 1.5px solid var(--main-pink);
    cursor: pointer;
}

input[type=button]:active, input[type=submit]:active{
    box-shadow: 1px 1px 1px 0 var(--shadow);
    transform: translateY(4px);
}

input.error{
    border: 1px solid rgb(219, 26, 26);
}

span.error{
    display: block;
    font-size: small;
    color: rgb(219, 26, 26);
    /* margin: 5px; */
}

.imagen{
    color: var(--dark-pink);
}

.section-title{
    display: block;
    width: 100%;
    margin: 5px 0;
}

.form-field{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}