{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block main_content %}
<!--Contenedores para los Diferentes Productos-->
{% for row in productos %}
<div class="product">
    <div class="container-img">
        <a href="producto.php?prod={{ row['id'] }}">
            <img src="static/image/{{ row['imagen'] }}" alt={{ row['nombre'] }}>
            <div class="overlay">
                <div class="product-name">
                   {{ row['nombre'] }}
                </div>
            </div>
        </a>
        
    </div>
</div>
{% endfor %}
 {# <div class="product">
    <div class="container-img">
        <a href="producto.html">
            <img src="./static/image/Pareja.jpeg" alt="Pareja Bailando">
            <div class="overlay">
                <div class="product-name">
                        Bailando en Gris
                </div>
            </div>
        </a>
        
    </div>
</div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/Libros.jpeg" alt="producto 1">
                <div class="overlay">
                    <div class="product-name">
                        Magical Library
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/Aurora.jpeg" alt="Aurora Character Concept">
                <div class="overlay">
                    <div class="product-name">
                        Aurora Concept Art
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/Alseides.jpeg" alt="producto 3">
                <div class="overlay">
                    <div class="product-name">
                            Alseides
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/paisaje.jpeg" alt="producto 5">
                <div class="overlay">
                    <div class="product-name">
                            Overgrown Door
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/AuroraSurf.jpeg" alt="producto 5">
                <div class="overlay">
                    <div class="product-name">
                        Aurora Surfing
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/retratoAfricana.jpeg" alt="producto 6">
                <div class="overlay">
                    <div class="product-name">
                        Retrato Africana
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/AuroraPlaya.jpeg" alt="producto 4">
                <div class="overlay">
                    <div class="product-name">
                        Aurora en la Playa
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/Bloom.jpeg" alt="producto 8">
                <div class="overlay">
                    <div class="product-name">
                        Bloom Winx
                    </div>
                </div>
            </a>
        </div>
    </div> 
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/Retrato.jpeg" alt="producto 6">
                <div class="overlay">
                    <div class="product-name">
                        Retrato Sol 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/AlbaSombrero.jpeg" alt="producto 7">
                <div class="overlay">
                    <div class="product-name">
                        Alba
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="product">
        <div class="container-img">
            <a href="producto.html">
                <img src="./static/image/GalaxyGurlWithCat.jpeg" alt="producto 8">
                <div class="overlay">
                    <div class="product-name">
                        Galaxy Gurl
                    </div>
                </div>
            </a>
        </div>
    </div>  #}
{% endblock  main_content %}
       