{% extends "base.html" %}
{% block title %}Usuarios{% endblock title %}
{% block main_content %}
<div class="table-container">
    <ul>
        {% for usuario in usuarios %}
            <li class="element">
                <div>
                    <span> Nombre: </span>
                    <span class="info">{{ usuario.username }}</span>
                </div>
                <div>
                    <span> Email: </span>
                    <span class="info">{{ usuario.email }}</span>
                </div>
                <div class="space">
                    <div>
                        <span> Rol: </span>
                        <span class="info">{{ usuario.rol }}</span>
                    </div>
                    <div>
                        <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
                    </div>
                </div>   
               
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock  main_content %}