{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block main_content %}
{% include "search.html" %}
<!--Contenedores para los Diferentes Productos-->
{% for row in productos %}
    {% if row['publicado'] or user['rol'] == "SU" or user['rol'] == "GEST" %}
        <div class="product">
            <div class="container-img {% if not row['publicado'] %}no-publicado{% endif %}">
                <a href="producto.php?prod={{ row['id'] }}">
                    <img src="static/image/{{ row['imagen'] }}" alt={{ row['nombre'] }}>
                    <div class="overlay">
                        <div class="product-name">
                        {{ row['nombre'] }}
                        </div>
                    </div>
                </a>
            </div>
        </div>    
    {% endif %}
    
{% endfor %}
{% endblock  main_content %}
{% block scripts %} 
    <script type="text/javascript" src="static/js/search.js" ></script>
{% endblock scripts %}
       