@import url("portada.css");
@import url("producto.css");

/* Toda la pagina */
:root{
    --lighter-pink: #faebf3;
    --light-pink: #f6d7e7;
    --main-pink: #e7788b;
    --dark-pink: #a75966;
    --shadow: #8a305b56;
    --dark-shadow: #8d435185;

}

@font-face {
    font-family: 'brandon-grot-w01-light';
    src: url('../font/brandon_grot_w01_light-webfont.woff2') format('woff2'),
         url('../font/brandon_grot_w01_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: brandon-grot-w01-light, Oswald, sans-serif;
    color: var(--main-pink);
} 

.content{
    width: 100%;
    height: 100%;
    overflow: scroll;
} 

body{
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0px; 
    overflow: hidden;
} 

h1{
    font-size: xx-large;
    display: block;
}

h2{
    font-size: 20px;
    display: block;
}

/* HEADER AND ITS CONTENT */
header{
    width: 100%;
    height: auto;
    position: sticky;
    top:0;
    z-index: 2;
    margin: 0px;
}
    /* LOGO Y TITULO */
    .cont-logo-title{
        min-width: 100%;
        max-width: 100%;
        min-height: 50%;
        max-height: 50%;
        display: flex;
        justify-content: center; 
        align-items: center;
        /* padding: 10px; */
        background-color: white;
    }

    .cont-logo{
        width: auto;
        height: 100%;
    }

    .logo{
        float: right;
        /* Tamaño del círculo */
        height: 80px;
        width: 80px;
        margin: 10px;
        background-image: url(../image/logo.jpg);
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
    
    .title{
        display: flex;
        justify-content: left;
        align-items: center;
        width: auto;
        /* Altura del logo + el margen */
        padding-left: 20px;
    }

    .title span{
        text-align: left;
        font-weight: lighter;
        font-size: 50px;
        color: var(--main-pink);

    }

    /* NAVBAR */
    nav.navbar{
        display: flex;
        min-width: 100%;
        max-width: 100%;
        min-height: 50%;
        max-height: 50%;
    }

    ul{   
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }


    .navbar ul{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden;
        background-color: var(--light-pink);
    }

    .navbar li{
        float: left;
        margin: 0px;
    }

    .navbar li a{
        display: block;
        color: var(--main-pink);
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
    }

    .navbar li a:hover {
        color: var(--light-pink);
        background-color: var(--main-pink);
    }
/* END HEADER AND ITS CONTENT */

/* MAIN CONTENT AND SIDEBAR */
.cont-sidebar-main{
    display: flex;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    /* max-height: 74%;    
    min-height: 74%;     */
}

.main-container{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    float: left;
    max-width: 80%;
    max-height: 100%;
    min-height: 100%;
    overflow: auto;
}
    /* Sidebar and its content */
    aside.sidebar{
        margin: 0 10px;
        margin-top: 10px;
        width: calc(20% - 20px); /* 20% incluye a los margenes  */
        max-width: 20%;
        max-height: calc(100vh - 170px); /* Altura - altura del header */
        min-height: calc(100vh - 170px); 
        position: fixed;
        right: 0;
        z-index: 0;
        overflow: scroll; /* Para que si se hace mas pequeña la ventana por abajo, se puedan ver todas las redes */
        background-color: var(--lighter-pink);

    }

    .sidebar-content ul{
        min-width: 100%;
        max-width: 100%;
    }

    .sidebar-content a{
        display: block;
        padding: 15px 16px;
        min-width: 100%;
        max-width: 100%;
    }

    .sidebar-content li a:hover{
        background-color: var(--light-pink);
    }

    h3{
        font-weight: bold;
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 5px solid white;
        margin: 0;
        padding: 18px 0;
    }

    /* Links a las redes sociales en sidebar */

    .rrss img{
        max-width: 25px;
    }

    .rrss a{
        text-decoration: none;
        display: flex;
        align-content: center;
    }

    .rrss a span{
        padding-left: 5px;
        display: flex;
        align-self: center;
        font-size: 15px;
    }
    
    /* .rrss-title{
        display: flex;
        justify-content: left;
        align-content: center;
    } */
    

/* END MAIN CONT AND SIDEBAR */


footer{
    width: 100%;
    height: 55px;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: var(--light-pink);
    position: relative;
    bottom: 0;
    z-index: 1;
    border-top: 10px solid white;
}

/* Responsive */

/* Filas de 2 */
@media only screen and (max-width: 700px) {
    .rrss a{
        display: flex;
        justify-content: center;
    }

    .rrss a img{
        min-width: 50%;
        display: block;
        align-self: center;
    }

    .rrss a span{
        display: none;
    }
}


/* Filas de 1 */
@media only screen and (max-width: 500px) {
    /* Oculto la Sidebar */
    .main-container{
        min-width: 100%;
        max-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    aside.sidebar{
        display: none;
    }

    /* Hago mas pequeños los elementos del header*/
    .title{
        padding-left: 10px;
    }

    .title span{
        font-size: 25px;
    }

    .logo{
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    .navbar li a{
        padding: 10px 11px;
        font-size: 15px;
    }

    /* Hago mas pequeños los elementos del footer */

    footer{
        margin-top: 5px;
    }

    footer span{
        font-size: 10px;
    }
}